{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="masthead-nav">
        {% assign home_url = /page.lang %}
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ home_url | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ home_url | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <button class="nav-toggle" type="button" aria-label="{{ site.data.ui-text[page.lang].menu_label | default: 'Toggle menu' }}" aria-expanded="false">
          <div class="navicon"></div>
        </button>
        <ul class="nav-links">
          {%- for link in site.data.navigation.main[page.lang] -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
</div>
