---
layout: custom-single
classes: wide
---

{{ content }}

<div class="pub-legend">

  <div class="legend-item">
    <div class="pubbox">
      <img class="journal" alt="" src="/assets/images/little_box_15.png"/>
      <div class="journal_tooltip">Journal Papers</div>
    </div>
    <div class="pubnumber">[jX]</div>
    <div class="pubspec legend-text">Journal Papers</div>
  </div>

  <div class="legend-item">
    <div class="pubbox">
      <img class="conference" alt="" src="/assets/images/little_box_15.png"/>
      <div class="conference_tooltip">Conference and Workshop Papers</div>
    </div>
    <div class="pubnumber">[cX]</div>
    <div class="pubspec legend-text">Conference and Workshop Papers</div>
  </div>

  <div class="legend-item">
    <div class="pubbox">
      <img class="preprint" alt="" src="/assets/images/little_box_15.png"/>
      <div class="preprint_tooltip">Informal and Preprints</div>
    </div>
    <div class="pubnumber">[iX]</div>
    <div class="pubspec legend-text">Informal and Preprints</div>
  </div>

</div>

{% assign c_counter = site.publications | where: "type", "conference" | size %}
{% assign j_counter = site.publications | where: "type", "journal" | size %}
{% assign i_counter = site.publications | where: "type", "preprint" | size %}

{% assign pubByYear = site.publications | sort: "year" | reverse | group_by_exp: 'item', 'item.year' %}
{% for year in pubByYear %}
<h2>{{ year.name }}</h2>

{% comment %} Within each type: month_num descending; blank month_num sorts last. {% endcomment %}
{% assign year_journals    = year.items | where: "type", "journal"     | sort: "month_num" | reverse %}
{% assign year_conferences = year.items | where: "type", "conference"  | sort: "month_num" | reverse %}
{% assign year_preprints   = year.items | where: "type", "preprint"    | sort: "month_num" | reverse %}

{% assign ordered_items = year_journals | concat: year_conferences | concat: year_preprints %}

{% for pub in ordered_items %}
<div class="pubitem">
  <div class="pubtypeitem">
    <div class="pubtype">
      <div class="pubbox">
        <img class="{{ pub.type }}" alt="" src="/assets/images/little_box_15.png"/>
        {% if pub.type == "conference" %}<div class="conference_tooltip">Conference and Workshop Papers</div>{% endif %}
        {% if pub.type == "journal" %}<div class="journal_tooltip">Journal Papers</div>{% endif %}
        {% if pub.type == "preprint" %}<div class="preprint_tooltip">Preprint</div>{% endif %}
      </div>

      {% if pub.type == "conference" %}
        {% assign counter = c_counter | prepend: 'c' %}
        {% assign c_counter = c_counter | minus: 1 %}
      {% endif %}
      {% if pub.type == "journal" %}
        {% assign counter = j_counter | prepend: 'j' %}
        {% assign j_counter = j_counter | minus: 1 %}
      {% endif %}
      {% if pub.type == "preprint" %}
        {% assign counter = i_counter | prepend: 'i' %}
        {% assign i_counter = i_counter | minus: 1 %}
      {% endif %}

      <div class="pubnumber">[{{ counter }}]</div>
    </div>
  </div>

  <div class="pubspec">
    <div class="pubtitle"><strong>{{ pub.title }}</strong></div>
    <div class="pubauthors">{{ pub.authors }}</div>
    <div class="pubinfo"><em>{{ pub.publication }}</em></div>
    <div class="publinks">
      {% if pub.abstract %}
        [<a><label for="abstract_{{ counter }}">abstract</label></a>]
      {% endif %}
      {% if pub.doi %}
        [<a href="{{ pub.doi }}" target="_blank" rel="noopener noreferrer">doi</a>]
      {% endif %}
      {% if pub.preprint and pub.paper == false %}
        [<a href="{{ pub.preprint }}" target="_blank" rel="noopener noreferrer">preprint</a>]
      {% endif %}
      {% if pub.paper %}
        [<a href="{{ site.url }}/assets/pdf/{{ pub.paper }}" target="_blank" rel="noopener noreferrer">paper</a>]
      {% endif %}
      {% if pub.poster %}
        [<a href="{{ site.url }}/assets/pdf/{{ pub.poster }}" target="_blank" rel="noopener noreferrer">poster</a>]
      {% endif %}
      {% if pub.code %}
        [<a href="{{ pub.code }}" target="_blank" rel="noopener noreferrer">code</a>]
      {% endif %}
      {% if pub.bibtex %}
        [<a><label for="bibtex_{{ counter }}">bibtex</label></a>]
      {% endif %}
      {% if pub.ack %}
        <u>{{ pub.ack }}</u>
      {% endif %}

      <input type='checkbox' id="abstract_{{ counter }}"><div>{{ pub.abstract }}</div>
      <input type='checkbox' id="bibtex_{{ counter }}"><div>{{ pub.bibtex }}</div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}