---
layout: custom-single
classes: wide
---

{{ content }}

{% assign teachingByYear = site.teaching | where_exp: "item", "item.hidden != true" | sort: "year" | reverse | group_by_exp: 'item', 'item.year' %}
{% for year in teachingByYear %}
{% assign firstend = year.name | minus: 1 %}
{% assign secondend = year.name | plus: 0 %}
<h2>{{ firstend }} - {{ secondend }}</h2>
{% for elem in year.items %}
<div class="teachingitem">
  <div class="teachingname"><strong>{{ elem.course }}</strong></div>
  <div class="teachinginfo">{% if elem.role %}{{ elem.role }} &#xB7; {% endif %}{{ elem.credits }} ECTS &#xB7; Taught in {{ elem.taught_in | downcase }}</div>
  <div class="teachingdegree">{{ elem.degree }} &#xB7; {{ elem.university }}</div>
  <div class="teachinglinks">
    {% if elem.website %}
      [<a href="{{ elem.website }}" target="_blank" rel="noopener noreferrer">website</a>]
    {% endif %}
    {% if elem.code %}
      [<a href="{{ elem.code }}" target="_blank" rel="noopener noreferrer">code</a>]
    {% endif %}
  </div>
</div>
{% endfor %}
{% endfor %}
